body {margin:0;}
#bg{
	position:fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
		z-index:-1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(226, 17, 17);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(255, 166, 0);
}

div{
    text-align: center;
}

.btn-primary{
    font-size: 20px;
    height:  30%;
    width: 50%;
    background-color: rgb(70, 85, 112);
    display:inline-flexbox;
    margin-top: 10%;


}

form{
    display: inline-block;
}

table{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.form-control{
    margin-top: 10%;
    
}